<template name="login">
  <div class="row">
    <div class="col s12 m6 offset-m3 l4 offset-l4" id="loginForm">
      <div class="card-panel white z-depth-2">
        <h1 class="blue-text">Sign In</h1>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" name="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="password" name="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
          <button class="btn blue" type="submit">Sign In</button>
        </form>
      </div>
    </div>
  </div>
  <br><br>
</template>
