<template name="myProfile">
  <div class="row">
    <div class="card z-depth-2">
      <div class="card-content">
        <div class="row">
          <img class="responsive-img" id="pageHeader" src="/myProfile/fitMeMyProfile.png">
          <hr class="headerSeperator">
        </div>
        {{#if Template.subscriptionsReady}}
        {{> myProfileShell}}
        {{else}}
        <p>Loading...</p>
        {{/if}}
      </div>
    </div>
  </div>
</template>
<template name="myProfileShell">
  {{#autoForm collection="Meteor.users" id="myProfileForm" type="method-update" meteormethod="updateMyProfile" doc=loggedInUser resetOnSuccess=false autosave=true}}
  <div class="card z-depth-1 grey lighten-4">
    <div class="col s12 m12 l12">
      <div class="card white z-depth-0">
        <div class="card-title center-align black-text profileGradient myProfileHeader">MY PROFILE CARD</div>
      </div>
    </div>
    <div class="col s12">
      <div class="card">
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <span class="blue-text myBoldProfileHeading">Username:</span>{{> afQuickField name="username" readonly=true type="text" label=false}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <span class="blue-text myBoldProfileHeading">First Name:</span>{{> afQuickField name="userProfile.firstName" type="text" label=false}}
          </div>
          <div class="input-field col s12 m6 l6">
            <span class="blue-text myBoldProfileHeading">Last Name:</span>{{> afQuickField name="userProfile.lastName" type="text" label=false}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <span class="blue-text myBoldProfileHeading">Birthday:</span>{{> afQuickField name="userProfile.birthday" type="date" label=false class="datepicker" placeholder="Ex. 1990-05-29"}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m3 l3">
            <span class="blue-text myBoldProfileHeading">Address:</span>{{> afQuickField name="userProfile.address" label=false placeholder="1234 FitMe Dr."}}
          </div>
          <div class="input-field col s12 m3 l3">
            <span class="blue-text myBoldProfileHeading">City:</span>{{> afQuickField name="userProfile.city" label=false placeholder="FitWorld"}}
          </div>
          <div class="input-field col s12 m3 l3">
            <span class="blue-text myBoldProfileHeading">State:</span>{{> afQuickField name="userProfile.state" label=false placeholder="OH"}}
          </div>
          <div class="input-field col s12 m3 l3">
            <span class="blue-text myBoldProfileHeading">Zip:</span>{{> afQuickField name="userProfile.zip" label=false placeholder="12345"}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m4 l4">
            <span class="blue-text myBoldProfileHeading">Home Phone:</span>{{> afQuickField name="userProfile.homePhone" label=false placeholder="Ex. 123-456-7890"}}
          </div>
          <div class="input-field col s12 m4 l4">
            <span class="blue-text myBoldProfileHeading">Work Phone:</span>{{> afQuickField name="userProfile.workPhone" label=false placeholder="Ex. 123-456-7890"}}
          </div>
          <div class="input-field col s12 m4 l4">
            <span class="blue-text myBoldProfileHeading">Emergency Contact #:</span>{{> afQuickField name="userProfile.emergencyContact" label=false placeholder="Ex. 123-456-7890"}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <span class="blue-text myBoldProfileHeading">Email:</span>{{> afQuickField name="emails.0.address" readonly=true type="text" label=false}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <span class="blue-text myBoldProfileHeading">Biography:</span>{{> afQuickField name="userProfile.bio" rows=6 style="height: 100%;" label=false placeholder="Tell us about yourself"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/autoForm}}
</template>
