/******************************************************************************/
/* Change heading color to blue */
.bodyStatsHeading {
  color: #2196f3;
}

/******************************************************************************/

/* Make the stats labels bold */
.bodyStatsLabel {
  font-weight: bold;
}

/******************************************************************************/

.statSeperator {
  border: 2px solid #2196f3;
}

/******************************************************************************/
