/* Change heading color to blue */
.bodyStatsHeading {
  color: #2196f3;
}

/* Make the stats labels bold */
.bodyStatsLabel {
  font-weight: bold;
}

.cardioSeperator {
  border: 2px solid #2196f3;
}
