<template name="clientStats">
  <div class="row">
    <div class="col s12 m12 l12">
      {{#autoForm collection="ClientStats" id="clientStatsForm" type="method-update" meteormethod="updateClientsStats" doc=currentClientsStats resetOnSuccess=false autosave=true}}
      <div class="card">
        <div class="card-content">
          <span class="card-title black-text">Stats</span>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text">Username:</span>{{> afQuickField name="bodyFat" type="text" label=false}}
            </div>
          </div>
        </div>
      </div>
      {{/autoForm}}
    </div>
  </div>
</template>
