{
  "plugins": [
    "react"
  ],

  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "airbnb"
  ],

  "rules": {
    "quotes": ["error", "single"],
    "spaced-comment": ["error", "always"]
  },

  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  }
}