/******************************************************************************/
/* Remove styling from input */
.noStyleInput {
    border: none !important;
}

/******************************************************************************/

/* Padding for the sessions on left hand side */
.clientSessionPadding {
  padding-bottom: 20px;
}

/******************************************************************************/

/* Bold headings */
.boldProfileHeading {
  font-weight: bold;
  font-size: 120%;
}

/******************************************************************************/

/* Padding for profile picture */
.profilePic {
  padding-top: 15px;
}

/******************************************************************************/
