<template name="clientProfile">
  {{#if isInRole 'trainer'}}
    {{#if Template.subscriptionsReady}}
      {{> clientProfileShell}}
    {{else}}
    <h3>Loading...</h3>
    {{/if}}
  {{else}}
  <h3>Unauthorized</h3>
  {{/if}}
</template>

<template name="clientProfileShell">
  <div class="row">
    <div class="col s12 m3 l3">
      <img src="../clientDashboard/clientProfile/profilePicture.jpg" class="responsive-img">
      <h5 class="center blue-text"><b>{{#with currentClient}}{{userProfile.firstName}} {{userProfile.lastName}}{{/with}}</b></h5>
      <h6 class="center black-text clientSessionPadding"><b><u>CLIENT SESSIONS LOG</u></b></h6>
      <h6 class="center blue-text clientSessionPadding"><b>Sessions Remaining</b></h6>
      <h6 class="center blue-text clientSessionPadding"><b>Payment Due</b></h6>
    </div>
    <div class="col s12 m9 l9">
      {{#autoForm collection="Meteor.users" id="clientProfileForm" type="method-update" meteormethod="updateClientsProfile" doc=currentClient resetOnSuccess=false autosave=true}}
      <div class="card z-depth-0">
        <div class="card-content">
          <span class="card-title black-text">User Profile</span>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Username:</span>{{> afQuickField name="username" readonly=true type="text" label=false}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">First Name:</span>{{> afQuickField name="userProfile.firstName" type="text" label=false}}
            </div>
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Last Name:</span>{{> afQuickField name="userProfile.lastName" type="text" label=false}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Birthday:</span>{{> afQuickField name="userProfile.birthday" type="date" label=false class="datepicker"}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">Address:</span>{{> afQuickField name="userProfile.address" label=false}}
            </div>
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">City:</span>{{> afQuickField name="userProfile.city" label=false}}
            </div>
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">State:</span>{{> afQuickField name="userProfile.state" label=false}}
            </div>
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">Zip:</span>{{> afQuickField name="userProfile.zip" label=false}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4 l4">
              <span class="blue-text boldProfileHeading">Home Phone:</span>{{> afQuickField name="userProfile.homePhone" label=false}}
            </div>
            <div class="input-field col s12 m4 l4">
              <span class="blue-text boldProfileHeading">Work Phone:</span>{{> afQuickField name="userProfile.workPhone" label=false}}
            </div>
            <div class="input-field col s12 m4 l4">
              <span class="blue-text boldProfileHeading">Emergency Contact #:</span>{{> afQuickField name="userProfile.emergencyContact" label=false}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Email:</span>{{> afQuickField name="emails.0.address" readonly=true type="text" label=false}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Biography:</span>{{> afQuickField name="userProfile.bio" rows=6 style="height: 100%;" label=false}}
            </div>
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Fitness Goals</span>{{> afQuickField name="userProfile.fitnessGoals" rows=6 style="height: 100%;" label=false}}
            </div>
          </div>
        </div>
      </div>
      {{/autoForm}}
    </div>
  </div>
</template>
