<template name="clientProfile">
  {{#if isInRole 'trainer'}}
  {{#if Template.subscriptionsReady}}
  {{> clientProfileShell}}
  {{else}}
  <p>Loading...</p>
  {{/if}}
  {{else}}
  <p>Not Authorized!!!</p>
  {{/if}}
</template>
<template name="clientProfileShell">
  {{#autoForm collection="Meteor.users" id="clientProfileForm" type="method-update" meteormethod="updateClientsProfile" doc=currentClient resetOnSuccess=false autosave=true}}

    <div class="row">
      <div class="card grey lighten-4 z-depth-1">
      <div class="col s12 m2 l3">
            <img src="/dashboard/profile/profilePicture.jpg" class="profilePic responsive-img">
            <div class="card-title center-align blue-text">{{#with currentClient}}{{userProfile.firstName}} {{userProfile.lastName}}{{/with}}</div>
      </div>
      <div class="col s12 m10 l9">
        <h5 class="center-align black-text clientSessionPadding"><b>CLIENT SESSIONS LOG</b></h5>
      </div>
      <div class="col s12 m3 l3">
        <h6 class="center-align blue-text clientSessionPadding"><b>Sessions Remaining</b></h6>
        {{> afQuickField name="userProfile.sessionsRemaining" class="center-align" type="number" label=false}}
      </div>
      <div class="col s12 m3 l3">
        <h6 class="center-align blue-text clientSessionPadding"><b>Payment Due</b></h6>
        {{> afQuickField name="userProfile.paymentDue" type="date" class="datepicker center-align" label=false}}
      </div>
      <div class="col s12 m3 l3">
        <h6 class="center-align blue-text clientSessionPadding"><b>Next Session</b></h6>
        {{> afQuickField name="sessionDate" type="date" class="datepicker center-align" label=false}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="card grey lighten-4 z-depth-1">
    <div class="col s12 m12 l12">
        <div class="col s12 m10 l12">
          <h5 class="center-align black-text clientSessionPadding"><b>PROFILE CARD</b></h5>
        </div>
        <div class="card-content">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Username:</span>{{> afQuickField name="username" readonly=true type="text" label=false}}
            </div>
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Email:</span>{{> afQuickField name="emails.0.address" readonly=true type="text" label=false}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">First Name:</span>{{> afQuickField name="userProfile.firstName" type="text" label=false}}
            </div>
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Last Name:</span>{{> afQuickField name="userProfile.lastName" type="text" label=false}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Birthday:</span>{{> afQuickField name="userProfile.birthday" type="date" label=false class="datepicker" placeholder="Ex. 1990-05-29"}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">Address:</span>{{> afQuickField name="userProfile.address" label=false placeholder="1234 FitMe Dr."}}
            </div>
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">City:</span>{{> afQuickField name="userProfile.city" label=false placeholder="FitWorld"}}
            </div>
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">State:</span>{{> afQuickField name="userProfile.state" label=false placeholder="OH"}}
            </div>
            <div class="input-field col s12 m3 l3">
              <span class="blue-text boldProfileHeading">Zip:</span>{{> afQuickField name="userProfile.zip" label=false placeholder="12345"}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m4 l4">
              <span class="blue-text boldProfileHeading">Home Phone:</span>{{> afQuickField name="userProfile.homePhone" label=false placeholder="Ex. 123-456-7890"}}
            </div>
            <div class="input-field col s12 m4 l4">
              <span class="blue-text boldProfileHeading">Work Phone:</span>{{> afQuickField name="userProfile.workPhone" label=false placeholder="Ex. 123-456-7890"}}
            </div>
            <div class="input-field col s12 m4 l4">
              <span class="blue-text boldProfileHeading">Emergency Contact #:</span>{{> afQuickField name="userProfile.emergencyContact" label=false placeholder="Ex. 123-456-7890"}}
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Biography:</span>{{> afQuickField name="userProfile.bio" rows=6 style="height: 100%;" label=false placeholder="Tell us about yourself."}}
            </div>
            <div class="input-field col s12 m6 l6">
              <span class="blue-text boldProfileHeading">Fitness Goals:</span>{{> afQuickField name="userProfile.fitnessGoals" rows=6 style="height: 100%;" label=false placeholder="What do you want to accomplish?"}}
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
  {{/autoForm}}
</template>
