<template name="currentClients">
  <div class="row">
    <div class="col s12 m12 l12">
      {{#if isInRole 'trainer'}}
      <div class="card z-depth-1 grey lighten-4">
        <div class="col s12 m12 l12">
          <div class="card">
            <div class="blue card-title center-align white-text">CURRENT CLIENTS</div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card white z-depth-1 spacing">
              <div class="col s12 m12 l12">
                {{#if Template.subscriptionsReady}}
                {{> reactiveTable collection=currentClients fields=clientFields}}
                {{/if}}
              </div>
            </div>
          </div>
        </div>
        <a href="/addClient" class="btn-floating btn-large waves-effect blue right addClientButton"><i class="material-icons">add</i></a>
      </div>
      {{else}}
      {{#if isLoggingIn}}
      {{> loading}}
      {{/if}}
      {{/if}}
    </div>
  </div>
</template>