/******************************************************************************/
/* Change color of the cardio heading to blue */
.clientCardioHeading {
  color: #2196f3;
}

/******************************************************************************/

/* Make labels on cardio table bold */
.clientCardioLabel {
  font-weight: bold;
}

/******************************************************************************/

/* Placement of math  symbols */
.clientMathSymbolsCP {
  margin-top: 1px;
  font-weight: bold;
}

/******************************************************************************/

/* Placement of math  symbols */
.clientMathSymbolsW112 {
  margin-top: 10px;
  font-weight: bold;
}

/******************************************************************************/

.clientInputAlign {
  padding-bottom: 5px;
}

/******************************************************************************/

/* Remove Style from inputs */
.clientNoCardioStyleInput {
    border: none !important;
}

/******************************************************************************/

.clientAlign {
  margin-top: 60px;;
}

/******************************************************************************/

.clientInputAdjust {
  margin-bottom: 0px;
}

/******************************************************************************/

.clientHeartRateHeading {
  font-weight: bold;
  margin-left: 15px;
}

/******************************************************************************/

.clientEquationPadding {
  margin-left: 5px;
}

/******************************************************************************/

.myAlign {
  margin-top: 100px;
}

/******************************************************************************/
