<template name="clientDashboard">
  <!--White panel to use as a background-->
  <div class="card-panel white z-depth-2">
    <div class="row">
      <img class="responsive-img" id="pageHeader" src="/clientDashboard/fitMeClientDashboard.png">
      <hr class="headerSeperator">
    </div>
    <div class="dashContainer">
      {{#if isInRole 'trainer'}}
      <div class="row">
        <div class="col s12">
          <ul class="collapsible" data-collapsible="accordion">
            <li>
              <div class="collapsible-header"><i class="material-icons">perm_identity</i>Profile</div>
              <div class="collapsible-body accordianMargin">{{> clientProfile}}</div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">trending_up</i>Stats</div>
              <div class="collapsible-body accordianMargin">{{> clientStats}}</div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">query_builder</i>Cardio</div>
              <div class="collapsible-body accordianMargin">{{> clientCardio}}</div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">web</i>Workout</div>
              <div class="collapsible-body accordianMargin">{{> clientWorkout}}</div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">view_agenda</i>Calendar</div>
              <div class="collapsible-body accordianMargin">{{> clientCalendar}}</div>
            </li>
          </ul>
        </div>
      </div>
      {{else}}
      <p>You do not have access to this page</p>
      {{/if}}
    </div>
  </div>
  <!--End of white panel-->
</template>
