/******************************************************************************/
/* Custom container to make it fill more of the screen */
.dashContainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

/******************************************************************************/

/*Add some margin so everything is not pushed up against the tabs */
.tabMargin {
  margin-bottom: 1%;
}

/******************************************************************************/

/*Change the color of the tab underlines to blue */
.tabs .indicator {
  background-color: #2196f3;
}

/******************************************************************************/

.tabs {
  overflow-x: hidden;
  overflow-y: hidden;
}

/********* MOBILE DEVICES *************************************************/

@media(max-width:768px) {
  .tabs {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 70px;
  }

  .profileTab {
    margin-left: 0px;
    margin-right: 40px;
    position: relative;
  }

  .sessionsTab {
    margin-left: 35px;
    margin-right: 30px;
    position: relative;
  }

  .statsTab {
    margin-left: 85px;
    margin-right: 40px;
    position: relative;
  }

  .cardioTab {
    margin-left: 110px;
    margin-right: 125px;
    position: relative;
  }

  .workoutTab {
    margin-left: 145px;
    position: relative;
  }

  .tabs .indicator {
    margin-bottom: 8px;
    display: none;
  }

}
