<template name="clientDashboard">
  <!--White panel to use as a background-->
  <div class="card-panel white z-depth-2">
    <div class="row">
      <img class="responsive-img" id="pageHeader" src="/dashboard/fitMeClientDashboard.png">
      <hr class="headerSeperator">
    </div>
    <div class="dashContainer">
      <div class="row">
        <div class="col s12">
          <ul class="tabs tabMargin">
            <li class="tab col s3 m2 l2"><a class="blue-text profileTab" href="#profile">Profile</a></li>
            <li class="tab col s3 m3 l2"><a class="blue-text statsTab" href="#stats">Stats</a></li>
            <li class="tab col s3 m2 l2"><a class="blue-text cardioTab" href="#cardio">Cardio</a></li>
            <li class="tab col s3 m3 l2"><a class="blue-text workoutTab" href="#workout">Workout</a></li>
          </ul>
        </div>
        <div id="profile" class="col s12">{{> clientProfile}}</div>
        <div id="stats" class="col s12">{{> clientStats}}</div>
        <div id="cardio" class="col s12">{{> clientCardio}}</div>
        <div id="workout" class="col s12">{{> clientWorkout}}</div>
      </div>
    </div>
  </div>
  <!--End of white panel-->
</template>
