/******************************************************************************/
/* Custom container to make it fill more of the screen */
.dashContainer {
  width: 100%;
  margin: auto;
  overflow: hidden;
}

/******************************************************************************/

/*Add some margin so everything is not pushed up against the tabs */
.tabMargin {
  margin-bottom: 1%;
}

/******************************************************************************/

/*Change the color of the tab underlines to blue */
.tabs .indicator {
  background-color: #2196f3;
}

/******************************************************************************/

/* Hide the overflow on desktop */
.tabs {
  overflow-x: hidden;
  overflow-y: hidden;
}

/************************MOBILE DEVICES****************************************/

@media(max-width:768px) {
  .tabs {
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    height: 80px;
  }

  .profileTab {
    margin-left: 0px;
    margin-right: 20px;
    position: relative;
  }

  .myScheduleTab {
    margin-left: 0px;
    margin-right: 20px;
    position: relative;
  }

  .statsTab {
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
  }

  .myStatsTab {
    margin-left: 50px;
    margin-right: 50px;
    position: relative;
  }

  .cardioTab {
    margin-left: 60px;
    margin-right: 60px;
    position: relative;
  }

  .myCardioTab {
    margin-left: 80px;
    margin-right: 80px;
    position: relative;
  }

  .workoutTab {
    margin-left: 95px;
    position: relative;
  }

  .myWorkoutTab {
    margin-left: 115px;
    position: relative;
  }

  .tabs .indicator {
    margin-bottom: 8px;
    display: none;
  }
}
/******************************************************************************/
