/******************************************************************************/
/* Make labels on cardio table bold */
.cardioLabel {
  font-weight: bold;
}

/******************************************************************************/

/* Placement of math  symbols */
.mathSymbolsCP {
  margin-top: 1px;
  font-weight: bold;
}

/******************************************************************************/

/*Line up the inputs*/
.inputAlign {
  padding-bottom: 5px;
}

/******************************************************************************/

/* Remove Style from inputs */
.noCardioStyleInput {
    border: none !important;
}

/******************************************************************************/

/*Line up the 3 beginner, intermediate, and advanced table*/
.align {
  margin-top: 60px;
}

/******************************************************************************/

/*Remove bottom margin from input*/
.inputAdjust {
  margin-bottom: 0px;
}

/******************************************************************************/

/*Padding for the clients heartrate*/
.heartRateHeading {
  font-weight: bold;
  margin-left: 15px;
}

/******************************************************************************/

/*Padding for the equations so nothing gets smashed*/
.equationPadding {
  margin-left: 5px;
}

/******************************************************************************/
