<template name="trainerGuide">
  {{#if isInRole 'trainer'}}
  <div class="row">
    <img class="responsive-img" id="pageHeader" src="/home/FitMe-text-logo3.png">
    <hr class="headerSeperator">
  </div>
  <div class="row">
    <div class="col s12 m12 l11">
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header blue-text"><b>My Account</b></div>
      <div class="collapsible-body">
          <p>Lorem ipsum dolor sit amet.</p>
          <img class="responsive-img" src="/trainerGuide/CurrentClientsFinal.png" width="80%" height="80%">
      </div>
    </li>
    <li>
      <div class="collapsible-header blue-text"><b>My Clients</b></div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header blue-text"><b>Payments</b></div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul>
    </div>
  </div>
  {{else}}
  {{#if isLoggingIn}}
  {{> loading}}
  {{else}}
  {{> notAuthorized}}
  {{/if}}
  {{/if}}
</template>