<template name="clients">
  <div class="card-panel white z-depth-2">
    <img class="responsive-img" id="client_header" src="/headers/fitMeClientManagement.png">
    <hr class="header_seperator">
    <br><br>
    <div class="container">
      <h3>My Clients</h3>
      <!--Client Table-->
      <table class="striped">
        <thead>
          <tr>
            <th>Username</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
          </tr>
        </thead>
        <tbody>
          {{#each user}}
          <tr>
            <td>{{username}}</td>
            <td>{{emails.[0].address}}</td>
            <td>{{profile.first_name}}</td>
            <td>{{profile.last_name}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      <!--End of client table-->
      <br><br>
    </div>
    <!-- Add client modal -->
    <button data-target="modal1" class="btn-floating btn-large waves-effect red modal-trigger"><i class="material-icons">add</i></button>
    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4 class="blue-text">Add Client</h4>
        <form>
          <div class="row">
            <div class="input-field col s12">
              <input name="first_name" type="text" class="validate">
              <label for="first_name">First Name:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="last_name" type="text" class="validate">
              <label for="last_name">Last Name:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="username" type="text" class="validate">
              <label for="username">Username:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="password" type="password" class="validate">
              <label for="password">Password:</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input name="email" type="email" class="validate">
              <label for="email">Email:</label>
            </div>
          </div>
          <button class="btn blue waves-effect" type="submit">Create Client</button>
        </form>
      </div>
    </div>
    <!--End of add client modal-->
  </div>
</template>
