/* Optimize side bar logo */
.sidebarLogo {
  display: block;
  width: auto;
  height: 140px;
  margin: auto;
  transform: translateY(-5%);
}

/* Create grey background for logo */
.logoContainer {
  background-color: #ffffff;
}

/* Create blue hr line in sidebbar below logo */
.navSeperator {
  border: 5px solid #2196f3;
}

/* Add padding between links so they are seperated nicely */
#navPad {
  width: 90%;
  margin: auto auto 10px auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

/* Align brand text as far left as possible */
.nav-wrapper {
  margin-left: 10px;
}

/* Display username below sidebar logo */
#usernameText {
  margin-top: -15px;
}
