<template name="myAccount">
  {{#if isInRole "trainer"}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card z-depth-3 grey lighten-4">
        <div class="col s12 m12 l12">
          <div class="card white">
            <div class="blue card-title center-align white-text">MY ACCOUNT</div>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <div class="card">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="row">
                    {{#if Template.subscriptionsReady}}
                    <div class="col s12 m12 l12">
                      <!--ACCOUNT TABLE-->
                      <table class="responsive-table">
                        <thead>
                          <tr>
                            <th>Plan Type</th>
                            <th>Date Purchased</th>
                            <th>Expires</th>
                            <th>Status</th>
                            <th>Total Clients</th>
                            <th>Client Limit</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>{{myAccount.planType}}</td>
                            <td>{{myAccount.datePurchased}}</td>
                            <td>{{myAccount.expiresOn}}</td>
                            <td>{{myAccount.userStatus}}</td>
                            <td>{{totalClients}}</td>
                            <td>{{myAccount.clientLimit}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <!--End of account table-->
                    </div>
                    {{else}}
                    {{> loading}}
                    {{/if}}
                  </div>
                  <br>
                  <br>
                  <div class="row center">
                    <h3 class="blue-text">Plans</h3>
                    <h5 class="red-text">WE ARE <strike>SLASHING</strike> PRICES -- 29% Off For 29 Days</h5>
                    <div class="section">
                      <!--   Pricing Section   -->
                      <div class="row">
                        <!--   First Card   -->
                        <div class="col s12 m3 l3">
                          <div class="card white hoverable darken-1 z-depth-1">
                            <div class="center-align card-content blue-text">
                              <div class="divider"></div>
                              <div class="section">
                                <h5 class="center-align">Free</h5>
                              </div>
                              <div class="divider"></div>
                              <div class="section">
                                <h5 class="center-align">$0.00</h5>
                                <p class="center-align">1 Client Limit</p>
                              </div>
                              <br>
                              <br>
                              <div class="divider"></div>
                              <br> {{#if isSuspended}}
                              <a class="btn-floating btn-medium waves-effect waves-light blue center-align free"><i class="material-icons white-text">add</i></a>
                              {{else}}
                              {{#unless paidAccount}}
                              <a class="btn-floating btn-medium waves-effect waves-light blue center-align disabled"><i class="material-icons white-text">add</i></a>
                              {{else}}
                              <a class="btn-floating btn-medium waves-effect waves-light blue center-align free"><i class="material-icons white-text">add</i></a>
                              {{/unless}}
                              {{/if}}
                            </div>
                          </div>
                        </div>
                        <div class="col s12 m3 l3">
                          <div class="card blue hoverable darken-1 z-depth-1">
                            <div class="center-align card-content white-text">
                              <div class="divider"></div>
                              <div class="section">
                                <h5 class="center-align">1 Month</h5>
                              </div>
                              <div class="divider"></div>
                              <div class="section">
                                <h6 class="center-align">Actual <strike> $15.00</strike></h6>
                                <h5 class="center-align">$10.65</h5>
                                <p class="center-align">50 Client Limit</p>
                                <p class="center-align">Technical Support</p>
                                <p class="center-align">1 Month Of Premium Access</p>
                              </div>
                              <div class="divider"></div>
                              <br>
                              {{#if isSuspended}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align oneMonth"><i class="material-icons blue-text">add</i></a>
                              {{else}}
                              {{#if paidAccount}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align disabled"><i class="material-icons blue-text">add</i></a>
                              {{else}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align oneMonth"><i class="material-icons blue-text">add</i></a>
                              {{/if}}
                              {{/if}}
                            </div>
                          </div>
                        </div>
                        <!--   Second Card   -->
                        <div class="col s12 m3 l3">
                          <div class="card white hoverable darken-1 z-depth-1">
                            <div class="center-align card-content blue-text">
                              <div class="divider"></div>
                              <div class="section">
                                <h5 class="center-align">6 Month</h5>
                              </div>
                              <div class="divider"></div>
                              <div class="section">
                                <h6 class="center-align">Actual <strike> $60.00</strike></h6>
                                <h5 class="center-align">$42.60</h5>
                                <p class="center-align">50 Client Limit</p>
                                <p class="center-align">Technical Support</p>
                                <p class="center-align">6 Months Of Premium Access</p>
                              </div>
                              <div class="divider"></div>
                              <br>
                              {{#if isSuspended}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align sixMonth"><i class="material-icons blue-text">add</i></a>
                              {{else}}
                              {{#if paidAccount}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align disabled"><i class="material-icons blue-text">add</i></a>
                              {{else}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align sixMonth"><i class="material-icons blue-text">add</i></a>
                              {{/if}}
                              {{/if}}
                            </div>
                          </div>
                        </div>
                        <!--   Third Card   -->
                        <div class="col s12 m3 l3">
                          <div class="card blue hoverable darken-1 z-depth-1">
                            <div class="center-align card-content white-text">
                              <div class="divider"></div>
                              <div class="section">
                                <h5 class="center-align">1 Year</h5>
                              </div>
                              <div class="divider"></div>
                              <div class="section">
                                <h6 class="center-align">Actual <strike> $99.00</strike></h6>
                                <h5 class="center-align">$70.29</h5>
                                <p class="center-align">50 Client Limit</p>
                                <p class="center-align">Technical Support</p>
                                <p class="center-align">1 Year Of Premium Access</p>
                              </div>
                              <div class="divider"></div>
                              <br>
                              {{#if isSuspended}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align oneMonth"><i class="material-icons blue-text">add</i></a>
                              {{else}}
                              {{#if paidAccount}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align disabled"><i class="material-icons blue-text">add</i></a>
                              {{else}}
                              <a class="btn-floating btn-medium waves-effect waves-light white center-align oneYear"><i class="material-icons blue-text">add</i></a>
                              {{/if}}
                              {{/if}}
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row center">
                      <div class="col s12 m4 offset-m4 l4 offset-l4">
                        <h3 class="center blue-text">Extras</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m4 l4">
                        <div class="card blue hoverable darken-1 z-depth-1">
                          <div class="center-align card-content white-text">
                            <div class="divider"></div>
                            <div class="section">
                              <h5 class="center-align">5 Additional Clients</h5>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                              <h5 class="center-align">$2.00</h5>
                              <p class="center-align">Add five additional clients to your client limit</p>
                            </div>
                            <div class="divider"></div>
                            <br>
                            {{#if isSuspended}}
                            <a class="btn-floating btn-medium waves-effect waves-light white center-align disabled"><i class="material-icons blue-text">add</i></a>
                            {{else}}
                            {{#if paidAccount}}
                            <a class="btn-floating btn-medium waves-effect waves-light white center-align fiveAdditionalClients"><i class="material-icons blue-text">add</i></a>
                            {{else}}
                            <a class="btn-floating btn-medium waves-effect waves-light white center-align disabled"><i class="material-icons blue-text">add</i></a>
                            {{/if}}
                            {{/if}}
                          </div>
                        </div>
                      </div>
                      <div class="col s12 m4 l4">
                        <div class="card white hoverable darken-1 z-depth-1">
                          <div class="center-align card-content blue-text">
                            <div class="divider"></div>
                            <div class="section">
                              <h5 class="center-align">10 Additional Clients</h5>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                              <h5 class="center-align">$5.00</h5>
                              <p class="center-align">Add ten additional clients to your client limit</p>
                            </div>
                            <div class="divider"></div>
                            <br>
                            {{#if isSuspended}}
                            <a class="btn-floating btn-medium waves-effect waves-light blue center-align disabled"><i class="material-icons white-text">add</i></a>
                            {{else}}
                            {{#if paidAccount}}
                            <a class="btn-floating btn-medium waves-effect waves-light blue center-align tenAdditionalClients"><i class="material-icons white-text">add</i></a>
                            {{else}}
                            <a class="btn-floating btn-medium waves-effect waves-light blue center-align disabled"><i class="material-icons white-text">add</i></a>
                            {{/if}}
                            {{/if}}
                          </div>
                        </div>
                      </div>
                      <div class="col s12 m4 l4">
                        <div class="card blue hoverable darken-1 z-depth-1">
                          <div class="center-align card-content white-text">
                            <div class="divider"></div>
                            <div class="section">
                              <h5 class="center-align">20 Additional Clients</h5>
                            </div>
                            <div class="divider"></div>
                            <div class="section">
                              <h5 class="center-align">$12.00</h5>
                              <p class="center-align">Add twenty additional clients to your client limit</p>
                            </div>
                            <div class="divider"></div>
                            <br>
                            {{#if isSuspended}}
                            <a class="btn-floating btn-medium waves-effect waves-light white center-align disabled"><i class="material-icons blue-text">add</i></a>
                            {{else}}
                            {{#if paidAccount}}
                            <a class="btn-floating btn-medium waves-effect waves-light white center-align twentyAdditionalClients"><i class="material-icons blue-text">add</i></a>
                            {{else}}
                            <a class="btn-floating btn-medium waves-effect waves-light white center-align disabled"><i class="material-icons blue-text">add</i></a>
                            {{/if}}
                            {{/if}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br>
                  <br>
                  <div class="row center">
                    <div class="col s12 m4 offset-m4 l4 offset-l4">
                      <h5 class="center blue-text">Change Password</h5>
                      <a href="/changePassword" class="btn blue waves-effect">CHANGE PASSWORD</a>
                    </div>
                  </div>
                  <br>
                  <br>
                  <h3 class="center red-text">DANGER ZONE</h3>
                  <div class="row center">
                    <div class="col s12 m4 offset-m4 l4 offset-l4">
                      <button class="btn red waves-effect deleteAccount">DELETE ACCOUNT</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  {{#if isLoggingIn}}
  {{> loading}}
  {{else}}
  {{> notAuthorized}}
  {{/if}}
  {{/if}}
</template>