.card .card-title {
  font-weight: 500;
}

.cardioHeading {
  color: #2196f3;
}

.cardioLabel {
  font-weight: bold;
}

.mathSymbol {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

label {
  padding-right: 75px;
  float: right;
  padding-bottom: 35px;
  /*margin-bottom: 100px;*/
}

.noCardioStyleInput {
    border: none !important;
}
