/******************************************************************************/
/*Center delete button on large screens*/
.deleteButton {
  margin-left: 15px;
}

/******************************************************************************/

/* Gradient header background for the card */
.currentClientsGradient {
  height: 50px;
  background-image:
  linear-gradient(
      to right,
      #2196f3,
      #2196f3 0%,
      #f5f5f5 50%,
      #f5f5f5 60%,
      #2196f3 90%
    );
}

/******************************************************************************/

/*Center delete button on large screens*/
.addClientButton {
  margin-bottom: 5px;
  margin-right: 5px;
}

/******************************************************************************/

/*Center delete button on large screens*/
.createClient {
  margin-left: 10px;
}

/******************************************************************************/

/*Add spacing below the table*/
.spacing {
  padding-bottom: 12px;
}

/******************************************************************************/

/*Push button all the way to the left on small screens*/
@media only screen and (max-width : 992px) {
  .deleteButton {
    margin-left: auto;
  }
}

/******************************************************************************/
