/* Optimize header images for pages */
#pageHeader {
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/*Create blue hr line for bottom of header image */
.headerSeperator {
  border: 2px solid #2196f3;
}
