<template name="layout">
  <header>
    {{> navigation}}
  </header>

  <main>
    <div class="layoutContainer">
      {{#if isInRole 'admin'}}
        {{> Template.dynamic template=adminContent}}
      {{/if}}
      {{#if isInRole 'trainer'}}
        {{> Template.dynamic template=trainerContent}}
      {{/if}}
      {{#if isInRole 'client'}}
        {{> Template.dynamic template=clientContent}}
      {{/if}}
      {{#if currentUser}}
        {{> Template.dynamic template=allUserContent}}
      {{else}}
      {{> Template.dynamic template=allUserContent}}
      {{/if}}
    </div>
  </main>
  <footer>
  </footer>
</template>