/******************************************************************************/
/* Add underline, bold text and increase font size on headings */
.workoutHeadings {
  text-decoration: underline;
  font-weight: bold;
  font-size: 120%;
}

/******************************************************************************/

/* Make the workout labels bold */
.workoutLabels {
  font-weight: bold;
}

/******************************************************************************/
