<template name="home">
  <!--   Header Section   -->
  <section id="parallax-top">
    <div class="parallax-container">
      <div class="parallax"><img src="/home/bg-workout.jpg"></div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col l6 s12 center-align">
        <img class="responsive-img logo-img" src="/home/FitMe-text-logo3.png">
      </div>
      <br>
      <div class="row center-align">
        <h5 class="header col s12 light white-text">TRAINING | DEDICATION | RESULTS</h5>
        <br>
        <br>
        <br>
        <h5 class="header col s12 light white-text">Sign up for FREE today! The first client is on us.</h5>
        <br>
        <br>
        <br>
        <button class="waves-effect waves-light btn blue center learnMore">Learn More</button>
      </div>
    </div>
  </section>
  <!--   About Section   -->
  <section id="about">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">Welcome To FitMe</h1>
      <div class="row center">
        <h5 class="header col s12 light">A new and intuitive way to manage workouts for your clients</h5>
      </div>
      <div class="divider blue"></div>
      <br>
      <br>
    </div>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large mdi-action-history"></i></h2>
              <h5 class="center">Save Time</h5>
              <p class="light">Tired of wasting paper and printing out workouts for your clients? With FitMe that is all unnecessary. Your workouts are all now stored digitally and you can access them from anywhere.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large mdi-hardware-keyboard-alt"></i></h2>
              <h5 class="center">User Friendly</h5>
              <p class="light">A very easy to use interface for anyone. Use it on a computer, tablet, or phone. Designed to work on multiple platforms FitMe is extremely versatile.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large mdi-maps-local-atm"></i></h2>
              <h5 class="center">Save Money</h5>
              <p class="light">As a trainer, printing out workouts every day is costly with both the cost of paper and the time spent creating and printing everyones workouts. You are sure to save both time and money with FitMe.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--   Mid Picture Section   -->
  <section id="parallax-mid">
    <div class="parallax-container center-align">
      <div class="parallax"><img src="/home/keyboard-lax.jpg"></div>
      <br>
      <br>
      <br>
      <br>
      <h1 class="header center white-text"></h1>
      <div class="row center">
        <h5 class="header col s12 bold white-text">FitMe finds the perfect balance between the way</h5>
        <br>
        <h5 class="header col s12 bold white-text"> something looks and how it functions.</h5>
      </div>
      <br>
      <br>
      <a href="/register" class="waves-effect waves-light btn blue center-align"><i class = "material-icons right">check</i>Sign Up</a>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
  <!--   Preview Section   -->
  <section id="about">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">What's Inside?</h1>
      <div class="row center">
        <h5 class="header col s12 light">Preview the app and see what FitMe can offer you!</h5>
      </div>
      <div class="divider blue"></div>
      <br>
      <br>
    </div>
  </section>
  <!--   Slider Section    -->
  <section id="slider">
    <div class="slider">
      <ul class="slides">
        <li>
          <img src="/home/slider-clientList.jpg">
          <!-- random image -->
          <div class="caption left-align">
            <h3>CLIENT LIST</h3>
            <h5 class="dark white-text">View and Manage your clients.</h5>
          </div>
        </li>
        <li>
          <img src="/home/slider-schedule.jpg">
          <!-- change image for every update added -->
          <div class="caption right-align">
            <h3>Workout Schedule</h3>
            <h5 class="light white-text">Never miss a session.</h5>
            <h5 class="light grey-text text-lighten-3">Track times and days for each client.</h5>
          </div>
        </li>
        <li>
          <img src="/home/slider-cardio.jpg">
          <!-- cange image for every update added -->
          <div class="caption left-align">
            <h3>Cardio Tracking</h3>
            <h5 class="light white-text">You do the running, we do the tracking!</h5>
          </div>
        </li>
        <li>
          <img src="/home/slider-workout-1.jpg">
          <!-- change image for every update added -->
          <div class="caption right-align">
            <h3>WORKOUT</h3>
            <h5 class="light white-text">If you build it, they will come!</h5>
            <h5 class="dark white-text">Build individualized workout routines for your clients</h5>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <!--   Testimonial Section   -->
  <section id="about">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">See Who's Talking</h1>
      <div class="row center">
        <h5 class="header col s12 light">Don't just take our word for it, hear from fellow professionals who are using FitMe</h5>
      </div>
      <div class="divider blue"></div>
      <br>
      <br>
    </div>
    <div class="container">
      <div class="section">
        <!--   Picture Section   -->
        <div class="row">
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel hoverable grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col m4">
                  <img src="/dashboard/profile/profilePicture.jpg" alt="" class="circle responsive-img">
                  <!-- notice the "circle" class -->
                </div>
                <div class="col s12">
                  <span class="black-text">
                  This is a wonderfull app, saves me so much time.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m8 offset-m2 l10 offset-l1">
            <div class="card-panel hoverable blue z-depth-4">
              <div class="row valign-wrapper">
                <div class="col m4">
                  <img src="/dashboard/profile/profilePicture.jpg" alt="" class="circle responsive-img">
                  <!-- notice the "circle" class -->
                </div>
                <div class="col s12">
                  <span class="white-text">
                  "What an investment, this is a must have for trainers everywhere!".
                  </span>
                  <br>
                  <br>
                  <span class="black-text text-lighten-1">
                  Anthony Mcpherson
                  </span>
                  <br>
                  <span class="black-text text-lighten-1">
                  Gold's Gym St Charles MO
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel hoverable grey lighten-5 z-depth-1">
              <div class="row valign-wrapper">
                <div class="col m4">
                  <img src="/dashboard/profile/profilePicture.jpg" alt="" class="circle responsive-img">
                  <!-- notice the "circle" class -->
                </div>
                <div class="col s12">
                  <span class="black-text">
                  This is a square image. Add the "circle" class to it to make it appear circular.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--   Last Picture Section   -->
  <section id="parallax-mid">
    <div class="parallax-container center-align">
      <div class="parallax"><img src="/home/background4.jpg"></div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3 class="header center white-text">We Paved The Way</h3>
      <div class="container">
        <div class="divider blue"></div>
        <div class="divider blue"></div>
      </div>
      <div class="row center box">
        <h5 class="header col s12 light white-text">Let us help you provide the best training experience ever.</h5>
        <p class="dark white-text">The road to success has never looked so clear.</p>
      </div>
      <br>
    </div>
  </section>
  <!--       Footer       -->
  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FitMe</h5>
          <p class="grey-text text-lighten-4"> &lt;div&gt;elop provides the FitMe Web site as a service to the public and users of the application.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text bold">Follow Us</h5>
          <div class="divider white"></div>
          <ul>
            <li>
              <a href="https://www.instagram.com/go_fitme/" target="_blank"><img class="responsive-img icon-IG" src="/home/IG-icon40.png"></a>
              <a href="https://www.facebook.com/gofitme/?fref=ts" target="_blank"><img class="responsive-img icon-IG" src="/home/FB-icon40.png"></a>
              <a href="https://twitter.com/go_fitme" target="_blank"><img class="responsive-img icon-IG" src="/home/TW-icon40.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        ©2015
        <img class="responsive-img footer-logo" src="/home/FitMe-text-logo3.png"> All rights reserved.
        <a class="orange-text text-accent-2 right" href="http://www.divelop.io"><b>&lt;div&gt;elop LLC</b></a>
      </div>
    </div>
  </footer>
</template>