<template name="trainerHome">
  <!--   Header Section   -->
  <section id="top" class="responsive-img" style="background-image: url('/home/bg-workout.jpg');">
    <div class="container">
      <br>
      <br>
      <br>
      <div class="col l6 s12 center-align">
        <img class="responsive-img logo-img" src="/home/FitMe-text-logo3.png">
      </div>
      <br>
      <br>
      <div class="row center-align">
        <h5 class="header col s12 light white-text">TRAINING | DEDICATION | RESULTS</h5>
      </div>
      <br>
      <br>
    </div>
  </section>
  <!--   About Section   -->
  <section id="about">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">Welcome To FitMe</h1>
      <div class="row center">
        <h5 class="header col s12 light">A new and intuitive way to manage workouts for your clients</h5>
      </div>
      <div class="divider blue"></div>
      <br>
      <br>
    </div>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large mdi-action-history"></i></h2>
              <h5 class="center">Save Time</h5>
              <p class="light">Tired of wasting paper and printing out workouts for your clients? With FitMe that is all unnecessary. Your workouts are all now stored digitally and you can access them from anywhere.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large mdi-hardware-keyboard-alt"></i></h2>
              <h5 class="center">User Friendly</h5>
              <p class="light">A very easy to use interface for anyone. Use it on a computer, tablet, or phone. Designed to work on multiple platforms FitMe is extremely versatile.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center blue-text"><i class="large mdi-maps-local-atm"></i></h2>
              <h5 class="center">Save Money</h5>
              <p class="light">As a trainer, printing out workouts every day is costly with both the cost of paper and the time spent creating and printing everyones workouts. You are sure to save both time and money with FitMe.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--   Mid Picture Section   -->
  <section id="mid" style="background-image: url('/home/background2.jpg');">
    <div class="container center-align">
      <br>
      <br>
      <br>
      <br>
      <h1 class="header center white-text"></h1>
      <div class="row center">
        <h5 class="header col s12 bold white-text">FitMe finds the perfect balance between the way</h5>
        <br>
        <h5 class="header col s12 bold white-text"> something looks and how it functions.</h5>
      </div>
      <br>
      <br>
      <a href="#" class="waves-effect waves-light btn blue center-align"><i class = "material-icons right">check</i>Sign Up</a>
      <br>
      <br>
      <br>
      <br>
    </div>
  </section>
  <!--   Pricing Section   -->
  <section id="pricing">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">Plans</h1>
      <div class="row center">
        <h5 class="header col s12 light">We offer three different packages to fit your needs.</h5>
      </div>
      <div class="divider blue"></div>
      <br>
      <br>
    </div>
    <div class="container">
      <div class="section">
        <!--   Pricing Section   -->
        <div class="row">
          <div class="col s12 m4 l4">
            <div class="card blue darken-1 z-depth-1">
              <div class="center-align card-content white-text">
                <div class="divider"></div>
                <div class="section">
                  <h5 class="center-align">MONTHLY</h5>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <p class="center-align">$15/Month</p>
                  <p class="center-align">50 Clients</p>
                  <p class="center-align">Technical Support</p>
                </div>
                <div class="divider"></div>
                <br>
                <a class="btn-floating btn-medium waves-effect waves-light white center-align monthly"><i class="material-icons blue-text">add</i></a>
              </div>
            </div>
          </div>
          <!--   Second Card   -->
          <div class="col s12 m4 l4">
            <div class="card white darken-1 z-depth-5">
              <div class="center-align card-content blue-text">
                <div class="divider"></div>
                <div class="section">
                  <h5 class="center-align">6 MONTH</h5>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <p class="center-align">$100</p>
                  <p class="center-align">50 Clients</p>
                  <p class="center-align">Technical Support</p>
                </div>
                <div class="divider"></div>
                <br>
                <a class="btn-floating btn-medium waves-effect waves-light white center-align sixMonth"><i class="material-icons blue-text">add</i></a>
              </div>
            </div>
          </div>
          <!--   Third Card   -->
          <div class="col s12 m4 l4">
            <div class="card blue darken-1 z-depth-1">
              <div class="center-align card-content white-text">
                <div class="divider"></div>
                <div class="section">
                  <h5 class="center-align">YEARLY</h5>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <p class="center-align">$200</p>
                  <p class="center-align">50 Clients</p>
                  <p class="center-align">Technical Support</p>
                </div>
                <div class="divider"></div>
                <br>
                <a class="btn-floating btn-medium waves-effect waves-light white center-align yearly"><i class="material-icons blue-text">add</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--   Contact Section   -->
  <section name="contact" class="" style="background-image: url('/home/background4-1.jpg');">
    <div class="container">
      <br>
      <h3 class="header center white-text">We Paved The Way</h3>
      <div class="divider blue"></div>
      <div class="divider blue"></div>
      <div class="row center box">
        <h5 class="header col s12 light white-text">Let us help you provide the best training experience ever.</h5>
        <p class="dark white-text">The road to success has never looked so clear.</p>
      </div>
      <br>
    </div>
  </section>
  <!--   contact Section   -->
  <section id="about">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">Contact Us</h1>
      <div class="row center">
        <h5 class="header col s12 light">Open to new ideas and any suggestions, we look forward to hearing from you.</h5>
      </div>
      <div class="divider blue"></div>
      <br>
      <br>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        {{#autoForm schema="ContactUsSchema.contact" id="contactForm" type="normal" resetonsuccess=true}}
        <div class="row">
          <div class="input-field col s12 m4 l4">
            First Name:{{> afQuickField name="firstName" label=false}}
          </div>
          <div class="input-field col s12 m4 l4">
            Last Name:{{> afQuickField name="lastName" label=false}}
          </div>
          <div class="input-field col s12 m4 l4">
            Phone Number:{{> afQuickField name="phoneNumber" label=false}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            Email:{{> afQuickField name="email" label=false}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            Message:{{> afQuickField name="message" label=false rows=6 style="height: 100%;"}}
          </div>
        </div>
        <button class="btn waves-effect waves-light blue" type="submit">Send
          <i class="material-icons right">send</i>
        </button>
        <br>
        <br> 
        {{/autoForm}}
      </div>
    </div>
  </section>
  <!--       Footer       -->
  <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <p class="grey-text text-lighten-4"> &lt;div&gt;elop provides the FitMe Web site as a service to the public and users of the application.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="blue-text bold">Links</h5>
          <div class="divider blue"></div>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Help</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Terms</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        ©2015
        <img class="responsive-img footer-logo" src="/home/FitMe-text-logo3.png"> All rights reserved
        <a class="orange-text right" href="http://www.divelop.io"><b>A product of &lt;div&gt;elop LLC</b></a>
      </div>
    </div>
  </footer>
</template>