.card .card-title {
  font-weight: 500;
}

.cardioHeading {
  color: #2196f3;
}

.cardioLabel {
  font-weight: bold;
}

.mathSymbol {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
}

.noCardioStyleInput {
    border: none !important;
}
