/* Make titles of the card bold */
.card .card-title {
  font-weight: 500;
}

/* Change color of the cardio heading to blue */
.cardioHeading {
  color: #2196f3;
}

/* Make labels on cardio table bold */
.cardioLabel {
  font-weight: bold;
}

/* Placement of math  symbols */
.mathSymbolsCP {
  margin-top: 1px;
  font-weight: bold;
}

/* Placement of math  symbols */
.mathSymbolsW112 {
  margin-top: 10px;
  font-weight: bold;
}

.inputAlign {
  padding-bottom: 5px;
}

/* Remove Style from inputs */
.noCardioStyleInput {
    border: none !important;
}

.cardioSeperator {
  border: 2px solid #2196f3;
}

.align {
  margin-top: 60px;;
}

.inputAdjust {
  margin-bottom: 0px;
}

.heartRateHeading {
  font-weight: bold;
  margin-left: 15px;
}

.equationPadding {
  margin-left: 5px;
}
