<template name="clientCardio">
  {{#if isInRole 'trainer'}}
    {{#if Template.subscriptionsReady}}
      {{> clientCardioShell}}
    {{else}}
    <h3>Loading...</h3>
    {{/if}}
  {{else}}
  <h3>Unauthorized</h3>
  {{/if}}
</template>

<template name="clientCardioShell">
  <div class="row">
    <div class="col s12 m12 l12">
      {{#autoForm collection="ClientCardio" id="clientCardioForm" type="method-update" meteormethod="updateClientCardio" doc=currentClientsCardio resetOnSuccess=false autosave=true}}
      <div class="card z-depth-0">
        <div class="card-content">
          <span class="card-title blue-text">CARDIO PROGRAM</span>
          <div class="row">
            <div class="col s12 m6 l9">
              <div class="row">
                <div class="col s12 m4 l3">
                  <span class="cardioLabel">Age:</span>
                  {{> afQuickField name="cardioProgramAge" type="number" label=false placeholder="Age"}}
                </div>
              </div>
              <div class="row">
                <div class="col s12 m4 l3">
                  <span class="cardioLabel">Resting Heart Rate:</span>
                  {{> afQuickField name="cardioProgramRestingHeartRate" type="number" label=false placeholder="Resting Heart Rate"}}
                </div>
              </div>
              <h5>Max Heart Rate</h5>
              <div class="row">
                <div class="col s12 m1 l1">
                  220
                </div>
                <div class="col s12 m1 l1">
                  <div class="mathSymbol center-align"> &#8722; </div>
                </div>
                <div class="col s12 m2 l2">
                  {{#with currentClientsCardio}}{{cardioProgramAge}}{{/with}}
                </div>
                <div class="col s12 m1 l2">
                  <div class="mathSymbol center-align"> &#61; </div>
                </div>
                <div class="col s12 m2 l2">
                  {{maxHeartRate}}
                </div>
              </div>
            </div>
            <div class="col s12 m6 l3">
              <div class="row">
                <div class="cardioLabel">Beginner:  55 - 70% Intenstiy</div>
              </div>
              <div class="row">
                <div class="cardioLabel">Intermediate:  60 - 75% Intenstiy</div>
              </div>
              <div class="row">
                <div class="cardioLabel">Advanced:  65 - 80% Intenstiy</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="cardioSeperator">
      <div class="card z-depth-0">
        <div class="card-content">
          <span class="card-title blue-text">WEEKS 1 - 4</span>
          <div class="row">
            <div class="col s12 m3 l3">
              <span class="cardioLabel">Start Date:</span>{{> afQuickField name="cardioW14StartDate" type="date" class="datepicker" label=false placeholder="Ex. 1990-05-29"}}
            </div>
          </div>
          <div class="row">
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ( </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14StartMaxHeartRate" type="number" label=false placeholder="MHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#8722; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14StartRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ) &nbsp;&nbsp;&nbsp;&nbsp; &#215;</div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14StartPercentIntensity" type="number" label=false placeholder="% I"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#43; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14StartRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#61; </div>
            </div>
            <div class="col s12 m2 l2">
              {{> afQuickField class="center-align" name="cardioW14StartBPM" type="number" label=false readonly=true}}
              <label class="labelAdjust black-text" for="BPM">Beats Per Minute</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m3 l3">
              <span class="cardioLabel">End Date:</span>{{> afQuickField name="cardioW14EndDate" type="date" class="datepicker" label=false placeholder="Ex. 1990-05-29"}}
            </div>
          </div>
          <div class="row">
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ( </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14EndMaxHeartRate" type="number" label=false placeholder="MHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#8722; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14EndRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ) &nbsp;&nbsp;&nbsp;&nbsp; &#215;</div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14EndPercentIntensity" type="number" label=false placeholder="% I"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#43; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW14EndRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#61; </div>
            </div>
            <div class="col s12 m2 l2">
              {{> afQuickField class="center-align" name="cardioW14EndBPM" type="number" label=false readonly=true}}
              <label class="black-text" for="BPM">Beats Per Minute</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Beginner: {{> afQuickField name="cardioW14Beginner" rows=4 style="height: 100%;" label=false}}</span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Intermediate:  {{> afQuickField name="cardioW14Intermediate" rows=4 style="height: 100%;" label=false}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Advanced:  {{> afQuickField name="cardioW14Advanced" rows=4 style="height: 100%;" label=false}}</span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Type:  {{> afQuickField name="cardioW14Type" rows=4 style="height: 100%;" label=false}}</span>
                </div>
              </div>
            </div>
            <div class="col s12 m3 l3 offset-l2 align">
              <div class="row">
                <span class="cardioLabel">MHR = Max Heart Rate</span>
              </div>
              <div class="row">
                <span class="cardioLabel">RHR = Resting Heart Rate</span>
              </div>
              <div class="row">
                <span class="cardioLabel">% I = % Intenstiy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="cardioSeperator">
      <div class="card z-depth-0">
        <div class="card-content">
          <span class="card-title blue-text">WEEKS 5 - 8</span>
          <span class="black-text"> &#65112; NEED NEW RESTING HR</span>
          <div class="row">
            <div class="col s12 m3 l3">
              <span class="cardioLabel">Start Date:</span>{{> afQuickField name="cardioW58StartDate" type="date" class="datepicker" label=false placeholder="Ex. 1990-05-29"}}
            </div>
          </div>
          <div class="row">
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ( </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58StartMaxHeartRate" type="number" label=false placeholder="MHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#8722; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58StartRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ) &nbsp;&nbsp;&nbsp;&nbsp; &#215;</div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58StartPercentIntensity" type="number" label=false placeholder="% I"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#43; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58StartRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#61; </div>
            </div>
            <div class="col s12 m2 l2">
              {{> afQuickField class="center-align" name="cardioW58StartBPM" type="number" label=false readonly=true}}
              <label class="labelAdjust black-text" for="BPM">Beats Per Minute</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m3 l3">
              <span class="cardioLabel">End Date:</span>{{> afQuickField name="cardioW58EndDate" type="date" class="datepicker" label=false placeholder="Ex. 1990-05-29"}}
            </div>
          </div>
          <div class="row">
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ( </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58EndMaxHeartRate" type="number" label=false placeholder="MHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#8722; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58EndRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ) &nbsp;&nbsp;&nbsp;&nbsp; &#215;</div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58EndPercentIntensity" type="number" label=false placeholder="% I"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#43; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW58EndRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#61; </div>
            </div>
            <div class="col s12 m2 l2">
              {{> afQuickField class="center-align" name="cardioW58EndBPM" type="number" label=false readonly=true}}
              <label class="black-text" for="BPM">Beats Per Minute</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Beginner: {{> afQuickField name="cardioW58Beginner" rows=4 style="height: 100%;" label=false}}</span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Intermediate:  {{> afQuickField name="cardioW58Intermediate" rows=4 style="height: 100%;" label=false}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Advanced:  {{> afQuickField name="cardioW58Advanced" rows=4 style="height: 100%;" label=false}}</span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Type:  {{> afQuickField name="cardioW58Type" rows=4 style="height: 100%;" label=false}}</span>
                </div>
              </div>
            </div>
            <div class="col s12 m3 l3 offset-l2 align">
              <div class="row">
                <span class="cardioLabel">MHR = Max Heart Rate</span>
              </div>
              <div class="row">
                <span class="cardioLabel">RHR = Resting Heart Rate</span>
              </div>
              <div class="row">
                <span class="cardioLabel">% I = % Intenstiy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="cardioSeperator">
      <div class="card z-depth-0">
        <div class="card-content">
          <span class="card-title blue-text">WEEKS 9 - 12</span>
          <span class="black-text"> &#65112; NEED NEW RESTING HR</span>
          <div class="row">
            <div class="col s12 m3 l3">
              <span class="cardioLabel">Start Date:</span>{{> afQuickField name="cardioW912StartDate" type="date" class="datepicker" label=false placeholder="Ex. 1990-05-29"}}
            </div>
          </div>
          <div class="row">
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ( </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912StartMaxHeartRate" type="number" label=false placeholder="MHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#8722; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912StartRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ) &nbsp;&nbsp;&nbsp;&nbsp; &#215;</div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912StartPercentIntensity" type="number" label=false placeholder="% I"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#43; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912StartRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#61; </div>
            </div>
            <div class="col s12 m2 l2">
              {{> afQuickField class="center-align" name="cardioW912StartBPM" type="number" label=false readonly=true}}
              <label class="labelAdjust black-text" for="BPM">Beats Per Minute</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m3 l3">
              <span class="cardioLabel">End Date:</span>{{> afQuickField name="cardioW912EndDate" type="date" class="datepicker" label=false placeholder="Ex. 1990-05-29"}}
            </div>
          </div>
          <div class="row">
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ( </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912EndMaxHeartRate" type="number" label=false placeholder="MHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#8722; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912EndRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> ) &nbsp;&nbsp;&nbsp;&nbsp; &#215;</div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912EndPercentIntensity" type="number" label=false placeholder="% I"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#43; </div>
            </div>
            <div class="col s12 m2 l1">
              {{> afQuickField class="center-align" name="cardioW912EndRestingHeartRate" type="number" label=false placeholder="RHR"}}
            </div>
            <div class="col s1 m1 l1">
              <div class="mathSymbol center-align"> &#61; </div>
            </div>
            <div class="col s12 m2 l2">
              {{> afQuickField class="center-align" name="cardioW912EndBPM" type="number" label=false readonly=true}}
              <label class="black-text" for="BPM">Beats Per Minute</label>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col s12 m6 l6">
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Beginner: {{> afQuickField name="cardioW912Beginner" rows=4 style="height: 100%;" label=false}}</span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Intermediate:  {{> afQuickField name="cardioW912Intermediate" rows=4 style="height: 100%;" label=false}}</span>
                </div>
              </div>
              <div class="row">
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Advanced:  {{> afQuickField name="cardioW912Advanced" rows=4 style="height: 100%;" label=false}}</span>
                </div>
                <div class="col s12 m6 l6">
                  <span class="cardioLabel">Type:  {{> afQuickField name="cardioW912Type" rows=4 style="height: 100%;" label=false}}</span>
                </div>
              </div>
            </div>
            <div class="col s12 m3 l3 offset-l2 align">
              <div class="row">
                <span class="cardioLabel">MHR = Max Heart Rate</span>
              </div>
              <div class="row">
                <span class="cardioLabel">RHR = Resting Heart Rate</span>
              </div>
              <div class="row">
                <span class="cardioLabel">% I = % Intenstiy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/autoForm}}
    </div>
  </div>
</template>
