<template name="trainerSchedule">
  {{#if isInRole 'trainer'}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card grey lighten-4">
        <div class="col s12 m12 l12">
          <div class="card white z-depth-1">
            <div class="blue card-title center-align white-text">MY SCHEDULE CARD</div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card white">
              <div class="row">
                <div class="col s12 m12 l12">
                  <h4 class="center">Monday</h4>
                  {{#if Template.subscriptionsReady}}
                  {{#each thisMondaysSchedule}}
                  <li><a href="/clientDashboard/{{_id}}">{{firstName}} {{lastName}} </a><b>Start:</b> {{mondaysScheduleStart}} <b>End:</b> {{mondaysScheduleEnd}}</li>
                  {{/each}}
                  {{else}}
                  <p>Loading...</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card white">
              <div class="row">
                <div class="col s12 m12 l12">
                  <h4 class="center">Tuesday</h4>
                  {{#if Template.subscriptionsReady}}
                  {{#each thisTuesdaysSchedule}}
                   <li><a href="/clientDashboard/{{_id}}">{{firstName}} {{lastName}} </a><b>Start:</b> {{tuesdaysScheduleStart}} <b>End:</b> {{tuesdaysScheduleEnd}}</li>
                  {{/each}}
                  {{else}}
                  <p>Loading...</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card white">
              <div class="row">
                <div class="col s12 m12 l12">
                  <h4 class="center">Wednesday</h4>
                  {{#if Template.subscriptionsReady}}
                  {{#each thisWednesdaysSchedule}}
                   <li><a href="/clientDashboard/{{_id}}">{{firstName}} {{lastName}} </a><b>Start:</b> {{wednesdaysScheduleStart}} <b>End:</b> {{wednesdaysScheduleEnd}}</li>
                  {{/each}}
                  {{else}}
                  <p>Loading...</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card white">
              <div class="row">
                <div class="col s12 m12 l12">
                  <h4 class="center">Thursday</h4>
                  {{#if Template.subscriptionsReady}}
                  {{#each thisThursdaysSchedule}}
                   <li><a href="/clientDashboard/{{_id}}">{{firstName}} {{lastName}} </a><b>Start:</b> {{thursdaysScheduleStart}} <b>End:</b> {{thursdaysScheduleEnd}}</li>
                  {{/each}}
                  {{else}}
                  <p>Loading...</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card white">
              <div class="row">
                <div class="col s12 m12 l12">
                  <h4 class="center">Friday</h4>
                  {{#if Template.subscriptionsReady}}
                  {{#each thisFridaysSchedule}}
                   <li><a href="/clientDashboard/{{_id}}">{{firstName}} {{lastName}} </a><b>Start:</b> {{fridaysScheduleStart}} <b>End:</b> {{fridaysScheduleEnd}}</li>
                  {{/each}}
                  {{else}}
                  <p>Loading...</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
          <div class="col s12 m6 l6">
            <div class="card white">
              <div class="row">
                <div class="col s12 m12 l12">
                  <h4 class="center">Saturday</h4>
                  {{#if Template.subscriptionsReady}}
                  {{#each thisSaturdaysSchedule}}
                   <li><a href="/clientDashboard/{{_id}}">{{firstName}} {{lastName}} </a><b>Start:</b> {{saturdayScheduleStart}} <b>End:</b> {{saturdaysScheduleEnd}}</li>
                  {{/each}}
                  {{else}}
                  <p>Loading...</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card white">
              <div class="row">
                <div class="col s12 m12 l12">
                  <h4 class="center">Sunday</h4>
                  {{#if Template.subscriptionsReady}}
                  {{#each thisSundaysSchedule}}
                   <li><a href="/clientDashboard/{{_id}}">{{firstName}} {{lastName}} </a><b>Start:</b> {{sundaysScheduleStart}} <b>End:</b> {{sundaysScheduleEnd}}</li>
                  {{/each}}
                  {{else}}
                  <p>Loading...</p>
                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  {{#if isLoggingIn}}
  {{> loading}}
  {{/if}}
  {{/if}}
</template>