<template name="contactPage">
  <h3 class="blue-text center">Contact Us</h3>
  <hr class="guideSeperator">
  <br>
  <br>
  <div class="row">
    <div class="col s12 m12 l12">
      <h5 class="extraPadding">To reach the FitMe team, please use one of the appropriate emails below.</h5>
      <br>
      <br>
      <h5 class="extraPadding">
        <b>General questions, feedback, enhancement suggestions: </b>info@gofitme.com
        <br><br>
        <b>Technical Issues: </b>support@gofitme.com
        <br><br>
        <b>Sales & Account Information: </b>sales@gofitme.com
        <br><br>
        <b>Social Media & Public Relations: </b>social@gofitme.com
        <br><br>
      </h5>
    </div>
  </div>
</template>