<template name="addClient">
  <div class="card-panel white z-depth-2">
    <div class="row">
      <img class="responsive-img" id="pageHeader" src="/currentClients/fitMeClientManagement.png">
      <hr class="headerSeperator">
    </div>
    <div class="layoutContainer">
      <div class="row">
        <div class="col s12 m12 l12">
          {{#if isInRole 'trainer'}}
          {{#autoForm collection="Meteor.users" schema="RegisterSchema.register" doc=this id="clientForm"}}
          <div class="card">
            <div class="card-content">
              <span class="card-title black-text">Register Client</span>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">Username:</span>{{> afQuickField name="username" type="text" label=false}}
                </div>
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">Password:</span>{{> afQuickField name="password" type="password" label=false}}
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">First Name:</span>{{> afQuickField name="firstName" type="text" label=false}}
                </div>
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">Last Name:</span>{{> afQuickField name="lastName" type="text" label=false}}
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">Email:</span>{{> afQuickField name="email" type="email" label=false}}
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">Birthday:</span>{{> afQuickField name="birthday" type="date" label=false class="datepicker"}}
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m3 l3">
                  <span class="blue-text boldProfileHeading">Address:</span>{{> afQuickField name="address" label=false}}
                </div>
                <div class="input-field col s12 m3 l3">
                  <span class="blue-text boldProfileHeading">City:</span>{{> afQuickField name="city" label=false}}
                </div>
                <div class="input-field col s12 m3 l3">
                  <span class="blue-text boldProfileHeading">State:</span>{{> afQuickField name="state" label=false}}
                </div>
                <div class="input-field col s12 m3 l3">
                  <span class="blue-text boldProfileHeading">Zip:</span>{{> afQuickField name="zip" label=false}}
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m4 l4">
                  <span class="blue-text boldProfileHeading">Home Phone:</span>{{> afQuickField name="homePhone" label=false}}
                </div>
                <div class="input-field col s12 m4 l4">
                  <span class="blue-text boldProfileHeading">Work Phone:</span>{{> afQuickField name="workPhone" label=false}}
                </div>
                <div class="input-field col s12 m4 l4">
                  <span class="blue-text boldProfileHeading">Emergency Contact #:</span>{{> afQuickField name="emergencyContact" label=false}}
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">Biography:</span>{{> afQuickField name="bio" rows=6 style="height: 100%;" label=false}}
                </div>
                <div class="input-field col s12 m6 l6">
                  <span class="blue-text boldProfileHeading">Fitness Goals</span>{{> afQuickField name="fitnessGoals" rows=6 style="height: 100%;" label=false}}
                </div>
              </div>
            </div>
          </div>
          <br>
          <button class="btn blue waves-effect" type="submit">Create Client</button>
          {{/autoForm}}
          {{else}}
          <p>Not Authorized!!!</p>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>
