<template name="home">
  <div class="card-panel white z-depth-2">
    <div class="section no-pad-bot" id="index-banner">
      <div class="container">
        <br><br>
        <h1 class="header center blue-text">Welcome To FitMe</h1>
        <div class="row center">
          <h5 class="header col s12 light">A new and intuitive way to manage workouts for your client's</h5>
        </div>
        <br><br>
      </div>
    </div>
    <div class="container">
      <div class="section">
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
              <h5 class="center">Save Time</h5>
              <p class="light">Tired of wasting paper and printing out workouts for your clients. With FitMe that is all unnecessary. Your workouts are all now stored digitally and you can access them from anywhere.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">User Friendly</h5>
              <p class="light">A very easy to use interface for anyone. Use it on a computer, tablet, or phone. Designed to work on multiple platforms FitMe is extremely versatile.</p>
            </div>
          </div>
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
              <h5 class="center">Save Money</h5>
              <p class="light">As a trainer printing out workouts all the time is costly with both the cost of paper and the time spent creating and printing everyones workouts, you are sure to save both time and money with FitMe.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
