<template name="clientDashboard">
  <!--White panel to use as a background-->
  <div class="card-panel white z-depth-2">
    <div class="row">
      <img class="responsive-img" id="pageHeader" src="/headers/fitMeClientDashboard.png">
      <hr class="headerSeperator">
    </div>
    <div class="dashContainer">
      <div class="row">
        <div class="col s12 m3 l2">
          <img src="../profile/profilePicture.jpg" class="responsive-img">
          <h5 class="center blue-text"><b>{{profile.firstName}} {{profile.lastName}}</b></h5>
          <h6 class="center blue-text"><u>Client Sessions</u></h6>
        </div>
        <div class="col s12 m9 l10">
          <div class="row">
            <ul class="tabs">
              <li class="tab col s2"><a class="blue-text" href="#stats">Stats</a></li>
              <li class="tab col s2"><a class="blue-text" href="#cardio">Cardio</a></li>
              <li class="tab col s2"><a class="blue-text" href="#workouts">Workouts</a></li>
              <li class="tab col s2"><a class="blue-text" href="#calendar">Calendar</a></li>
              <li class="tab col s2"><a class="blue-text" href="#profile">Profile</a></li>
            </ul>

            <div id="stats" class="col s12">
              Stats
            </div>
            <div id="cardio" class="col s12">
              Cardio
            </div>
            <div id="workouts" class="col s12">
              Workouts
            </div>
            <div id="calendar" class="col s12">
              Calendar
            </div>
            <div id="profile" class="col s12">
              {{> clientProfile}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of white panel-->
</template>
