<template name="clientDashboard">
  <!--White panel to use as a background-->
  <div class="card-panel white z-depth-2">
    <div class="row">
      <img class="responsive-img" id="pageHeader" src="/headers/fitMeClientDashboard.png">
      <hr class="headerSeperator">
    </div>
    <div class="dashContainer">
      <div class="row">
        <div class="col s12 m3 l2">
          <img src="../profile/profilePicture.jpg" class="responsive-img">
          <h5 class="center blue-text"><b>{{profile.firstName}} {{profile.lastName}}</b></h5>
        </div>
        <div class="col s12 m9 l10">
          <div class="row">
            <ul class="collapsible popout" data-collapsible="accordion">
              <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>Profile</div>
                <div class="collapsible-body">{{> clientProfile}}</div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Stats</div>
                <div class="collapsible-body">{{> clientStats}}</div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Workouts</div>
                <div class="collapsible-body">{{> clientWorkouts}}</div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Cardio</div>
                <div class="collapsible-body">{{> clientCardio}}</div>
              </li>
              <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Calendar</div>
                <div class="collapsible-body">{{> clientCalendar}}</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End of white panel-->
</template>
