<template name="commandCenter">
  {{#if isInRole "admin"}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card black z-depth-2">
        {{#if Template.subscriptionsReady}}
        <div class="row">
          <div class="col s12 m4 l4">
            <h5 class="green-text center-align">TOTAL TRAINERS: {{totalTrainers}}</h5>
          </div>
          <div class="col s12 m4 l4">
            <h5 class="green-text center-align">TOTAL CLIENTS: {{totalClients}}</h5>
          </div>
          <div class="col s12 m4 l4">
            <h5 class="green-text center-align">TOTAL USERS: {{totalUsers}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="green-text center-align command"><b>COMMAND CENTER</b></h1>
            <div class="card green">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="card">
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <div class="card z-depth-1">
                          <div class="card-title center-align white-text allTrainersHeader">ACTIVE TRAINERS</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m6 l4">
                        {{> EasySearch.Input index=activeTrainersIndex attributes=activeTrainersAttributes}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <table class="responsive-table">
                          <thead>
                            <tr>
                              <th>Username</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>User Status</th>
                              <th>Plan Type</th>
                              <th>Expires On</th>
                              <th>Suspend</th>
                              <th>Remove</th>
                              <th>Payment Warning</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#EasySearch.Each index=activeTrainersIndex}}
                            <tr>
                              <td><a href="/adminDashboard/{{_id}}">{{username}}</a></td>
                              <td>{{firstName}}</td>
                              <td>{{lastName}}</td>
                              <td>{{userStatus}}</td>
                              <td>{{planType}}</td>
                              <td>{{expiresOn}}</td>
                              <td><button class="btn-floating amber waves-effect suspendTrainer"><i class="material-icons">https</i></button></td>
                              <td><button class="btn-floating red waves-effect removeTrainer"><i class="material-icons">remove</i></button></td>
                              <td><button class="btn-floating green waves-effect paymentDueSoon"><i class="material-icons">assignment_late</i></button></td>
                            </tr>
                            {{/EasySearch.Each}}
                          </tbody>
                        </table>
                        {{> EasySearch.LoadMore index=activeTrainersIndex attributes=activeTrainerLoadMoreButton count=2}}
                        {{#EasySearch.IfNoResults index=activeTrainersIndex}}
                          <div>No results found!</div>
                        {{/EasySearch.IfNoResults}}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m12 l12">
                    <div class="card">
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <div class="card z-depth-1">
                            <div class="card-title center-align white-text allTrainersHeader">SUSPENDED TRAINERS</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 l4">
                          {{> EasySearch.Input index=suspendedTrainersIndex attributes=suspendedTrainersAttributes}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <table class="responsive-table">
                            <thead>
                              <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Status</th>
                                <th>Plan Type</th>
                                <th>Expires On</th>
                                <th>Suspend</th>
                                <th>Remove</th>
                                <th>Payment Warning</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#EasySearch.Each index=suspendedTrainersIndex}}
                              <tr>
                                <td><a href="/adminDashboard/{{_id}}">{{username}}</a></td>
                                <td>{{firstName}}</td>
                                <td>{{lastName}}</td>
                                <td>{{userStatus}}</td>
                                <td>{{planType}}</td>
                                <td>{{expiresOn}}</td>
                                <td><button class="btn-floating amber waves-effect suspendTrainer"><i class="material-icons">https</i></button></td>
                                <td><button class="btn-floating red waves-effect removeTrainer"><i class="material-icons">remove</i></button></td>
                                <td><button class="btn-floating green waves-effect paymentDueSoon"><i class="material-icons">assignment_late</i></button></td>
                              </tr>
                              {{/EasySearch.Each}}
                            </tbody>
                          </table>
                          {{#EasySearch.IfNoResults index=suspendedTrainersIndex}}
                            <div>No results found!</div>
                          {{/EasySearch.IfNoResults}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s12 m12 l12">
                    <div class="card">
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <div class="card z-depth-1">
                            <div class="card-title center-align white-text allTrainersHeader">DELETED TRAINERS</div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m6 l4">
                          {{> EasySearch.Input index=deletedTrainersIndex attributes=deletedTrainersAttributes}}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m12 l12">
                          <table class="responsive-table">
                            <thead>
                              <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>User Status</th>
                                <th>Plan Type</th>
                                <th>Expires On</th>
                                <th>Suspend</th>
                                <th>Remove</th>
                                <th>Payment Warning</th>
                              </tr>
                            </thead>
                            <tbody>
                              {{#EasySearch.Each index=deletedTrainersIndex}}
                              <tr>
                                <td><a href="/adminDashboard/{{_id}}">{{username}}</a></td>
                                <td>{{firstName}}</td>
                                <td>{{lastName}}</td>
                                <td>{{userStatus}}</td>
                                <td>{{planType}}</td>
                                <td>{{expiresOn}}</td>
                                <td><button class="btn-floating amber waves-effect suspendTrainer"><i class="material-icons">https</i></button></td>
                                <td><button class="btn-floating red waves-effect removeTrainer"><i class="material-icons">remove</i></button></td>
                                <td><button class="btn-floating green waves-effect paymentDueSoon"><i class="material-icons">assignment_late</i></button></td>
                              </tr>
                              {{/EasySearch.Each}}
                            </tbody>
                          </table>
                          {{#EasySearch.IfNoResults index=deletedTrainersIndex}}
                            <div>No results found!</div>
                          {{/EasySearch.IfNoResults}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="/addTrainerAdmin" class="btn-floating btn-large waves-effect grey darken-3 right addClientButton"><i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
        </div>
        {{else}}
        {{> loading}}
        {{/if}}
      </div>
    </div>
  </div>
  {{else}}
  {{#if isLoggingIn}}
  {{> loading}}
  {{else}}
  {{> notAuthorized}}
  {{/if}}
  {{/if}}
</template>