<template name="myDashboard">
  {{#if isInRole 'client'}}
  <div class="row">
    <img class="responsive-img" id="pageHeader" src="/dashboard/fitMeMyDashboard.png">
    <hr class="headerSeperator">
  </div>
  <div class="dashContainer">
    <div class="row">
      <div class="col s12">
        <div class="row">
          <div class="col s12 m3 l3">
            <button class="btn blue myClickedButton" id="mySession">My Schedule</button>
          </div>
          <div class="col s12 m2 l2">
            <button class="btn blue myClickedButton" id="myStats">Stats</button>
          </div>
          <div class="col s12 m3 l3">
            <button class="btn blue myClickedButton" id="myCardio">Cardio</button>
          </div>
          <div class="col s12 m2 l2">
            <button class="btn blue myClickedButton" id="myWorkout">Workout</button>
          </div>
          <div class="col s12 m2 l2">
            <button class="btn blue myClickedButton" id="myTrainer">My Trainer</button>
          </div>
        </div>
        {{#if activeTemplate}}
        {{> Template.dynamic template=activeTemplate}}
        {{else}}
        {{> mySession}}
        {{/if}}
      </div>
    </div>
  </div>
  {{else}}
  {{#if isLoggingIn}}
  {{> loading}}
  {{else}}
  {{> notAuthorized}}
  {{/if}}
  {{/if}}
</template>