/* Change heading color to blue */

.bodyStatsHeading {
  color: #2196f3;
}

/* Make the stats labels bold */

.bodyStatsLabel {
  font-weight: bold;
}

/* Gradient header background for the card */

.statsGradient {
  height: 50px;
  background-image: linear-gradient( to right, #2196f3, #2196f3 0%, #f5f5f5 50%, #f5f5f5 60%, #2196f3 90%);
}
