<template name="clientHome">
   <!--   Header Section   -->
  <section id="parallax-top">
    <div class="parallax-container">
      <div class="parallax"><img src="/home/bg-workout.jpg"></div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <div class="col l6 s12 center-align">
        <img class="responsive-img logo-img" src="/home/FitMe-text-logo3.png">
      </div>
      <br>
      <div class="row center-align">
        <h5 class="header col s12 light white-text">TRAINING | DEDICATION | RESULTS</h5>
      </div>
      <br>
      <br>
    </div>
  </section>
  
  <!--   contact Section   -->
  <section id="about">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">Contact Us</h1>
      <div class="row center">
        <h5 class="header col s12 light">Open to new ideas and any suggestions, we look forward to hearing from you.</h5>
      </div>
      <div class="divider blue"></div>
      <br><br>
    </div>
    <div class="row">
      <div class="col s12 m12 l12">
        {{#autoForm schema="ContactUsSchema.contact" id="contactForm" type="normal" resetonsuccess=true}}
        <div class="row">
          <div class="input-field col s12 m4 l4">
            First Name:{{> afQuickField name="firstName" label=false}}
          </div>
          <div class="input-field col s12 m4 l4">
            Last Name:{{> afQuickField name="lastName" label=false}}
          </div>
          <div class="input-field col s12 m4 l4">
            Phone Number:{{> afQuickField name="phoneNumber" label=false}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            Email:{{> afQuickField name="email" label=false}}
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            Message:{{> afQuickField name="message" class="materialize-textarea" label=false rows=6 style="height: 100%;"}}
          </div>
        </div>
        <button class="btn waves-effect waves-light blue" type="submit">Send
        <i class="material-icons right">send</i>
        </button>
        <br>
        <br>
        {{/autoForm}}
      </div>
    </div>
  </section>

    <!--       Footer       -->
   <footer class="page-footer grey">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">FitMe</h5>
          <p class="grey-text text-lighten-4"> &lt;div&gt;elop provides the FitMe Web site as a service to the public and users of the application.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="blue-text bold">Follow Us</h5>
          <div class="divider blue"></div>
          <ul>
            <li><a href="https://www.instagram.com/go_fitme/" target="_blank"><img class="responsive-img icon-IG" src="/home/IG-icon40.png"></a>
            <a href="https://www.facebook.com/gofitme/?fref=ts" target="_blank"><img class="responsive-img icon-IG" src="/home/FB-icon40.png"></a>
            <a href="https://twitter.com/go_fitme" target="_blank"><img class="responsive-img icon-IG" src="/home/TW-icon40.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container center">
        ©2015
        <img class="responsive-img footer-logo" src="/home/FitMe-text-logo3.png"> All rights reserved
        <a class="orange-text right" href="http://www.divelop.io"><b>&lt;div&gt;elop LLC</b></a>
      </div>
    </div>
  </footer>
</template>