<template name="commandCenter">
  {{#if isInRole "admin"}}
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card black z-depth-2">
        {{#if Template.subscriptionsReady}}
        <div class="row">
          <div class="col s12 m4 l4">
            <h5 class="green-text center-align">TOTAL TRAINERS: {{totalTrainers}}</h5>
          </div>
          <div class="col s12 m4 l4">
            <h5 class="green-text center-align">TOTAL CLIENTS: {{totalClients}}</h5>
          </div>
          <div class="col s12 m4 l4">
            <h5 class="green-text center-align">TOTAL USERS: {{totalUsers}}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col s12 m12 l12">
            <h1 class="green-text center-align command"><b>COMMAND CENTER</b></h1>
            <div class="card green">
              <div class="row">
                <div class="col s12 m12 l12">
                  <div class="card">
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <div class="card z-depth-1">
                          <div class="card-title center-align white-text allTrainersHeader">CURRENT TRAINERS</div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col s12 m12 l12">
                        <table class="responsive-table">
                          <thead>
                            <tr>
                              <th>Username</th>
                              <th>First Name</th>
                              <th>Last Name</th>
                              <th>User Status</th>
                              <th>Suspend</th>
                              <th>Remove</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each trainer}}
                            <tr>
                              <td><a href="/adminDashboard/{{_id}}">{{username}}</a></td>
                              <td>{{userProfile.firstName}}</td>
                              <td>{{userProfile.lastName}}</td>
                              <td>{{userStatus}}</td>
                              <td><button class="btn-floating amber waves-effect suspendUser"><i class="material-icons">https</i></button></td>
                              <td><button class="btn-floating red waves-effect removeTrainer"><i class="material-icons">remove</i></button></td>
                            </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
                <a href="/addTrainerAdmin" class="btn-floating btn-large waves-effect grey darken-3 right addClientButton"><i class="material-icons">add</i></a>
              </div>
            </div>
          </div>
        </div>
        {{else}}
        {{> loading}}
        {{/if}}
      </div>
    </div>
  </div>
  {{else}}
  {{#if isLoggingIn}}
  {{> loading}}
  {{/if}}
  {{/if}}
</template>