<template name="commandCenter">
  <div class="card-panel black z-depth-2">
    <div class="row">
      {{#if Template.subscriptionsReady}}
      <div class="col s12 m4 l4">
        <h5 class="green-text center">TOTAL TRAINERS: {{totalTrainers}}</h5>
      </div>
      <div class="col s12 m4 l4">
        <h5 class="green-text center">TOTAL CLIENTS: {{totalClients}}</h5>
      </div>
      <div class="col s12 m4 l4">
        <h5 class="green-text center">TOTAL USERS: {{totalUsers}}</h5>
      </div>
      {{else}}
      <p class="green-text">Loading...</p>
      {{/if}}
    </div>
    <h1 class="green-text center">Command Center</h1>
    <div class="dashContainer">
      <div class="row">
        <div class="col s12">
          <ul class="tabs black">
            <li class="tab col s3"><a class="white-text" href="#trainers">Current Trainers</a></li>
            <li class="tab col s3"><a class="white-text" href="#clients">Current Clients</a></li>
            <li class="tab col s3"><a class="white-text" href="#test3">Payments</a></li>
            <li class="tab col s3"><a class="white-text" href="#test4">Renewals</a></li>
          </ul>
        </div>
        <div id="trainers" class="col s12">{{> allTrainers}}</div>
        <div id="clients" class="col s12">Test 2</div>
        <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div>
      </div>
    </div>
  </div>
</template>