<template name="navigation">
  <div class="navbar-fixed">
    <nav class="blue">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo left">FitMe</a>
        <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

        <ul class="side-nav" id="mobile-menu">
          <div class="logoContainer">
            <a href="/"><img class="sidebarLogo" src="../logos/fitMeSidebar.png"></a>
            <br>
            <hr class="navSeperator">
          </div>
          {{#if currentUser}}
          <a class="btn grey lighten-5" id="navPad" href="#">Welcome, {{currentUser.username}}</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="/">Home</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'clients'}}">Clients</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'workouts'}}">Workouts</a>
          <a class="btn grey lighten-5 waves-effect waves-teal logout" id="navPad"  href="#!">Logout</a>
          {{else}}
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="/">Home</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'login'}}">Login</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'register'}}">Register</a>
          {{/if}}
        </ul>
        <ul class="side-nav fixed" id="desktop-menu">
          <div class="logoContainer">
            <a href="/"><img class="sidebarLogo" src="../logos/fitMeSidebar.png"></a>
            <br>
            <hr class="navSeperator">
          </div>
          {{#if currentUser}}
          <a class="btn grey lighten-5" id="navPad" href="#">Welcome, {{currentUser.username}}</a>
          <hr>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="/">Home</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'clients'}}">Clients</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'workouts'}}">Workouts</a>
          <a class="btn grey lighten-5 waves-effect waves-teal logout" id="navPad"  href="#!">Logout</a>
          {{else}}
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="/">Home</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'login'}}">Login</a>
          <a class="btn grey lighten-5 waves-effect waves-teal" id="navPad" href="{{pathFor 'register'}}">Register</a>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
</template>
