<template name="clientProfile">
  <div class="row">
    <div class="col s12 m6 offset-m3 l6 offset-l3">
      <div class="row">
        <table class="responsive bordered profileFontSize">
          <tbody>
            <tr>
              <b><td>Username</td></b>
              <td class="blue-text"><b>{{username}}</b></td>
            </tr>
            <tr>
              <b><td>First Name</td></b>
              <td class="blue-text"><b>{{> editableText collection="users" field="profile.firstName"}}</b></td>
            </tr>
            <tr>
              <b><td>Last Name</td></b>
              <td class="blue-text"><b>{{> editableText collection="users" field="profile.lastName"}}</b></td>
            </tr>
            <tr>
              <b><td>Birthday</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.birthday" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Address</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.address" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>City</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.city" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>State</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.state" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Zip</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.zip" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Home Phone</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.homePhone" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Work Phone</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.workPhone" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Emergency Contact #</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.emergencyContact" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Email</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="emmails.[0].address" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Biography</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.bio" acceptEmpty=true}}</b></td>
            </tr>
            <tr>
              <b><td>Fitness Goals</td></b>
              <td class="blue-text editable-text-trigger"><b>{{> editableText collection="users" field="profile.fitnessGoals" acceptEmpty=true}}</b></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
