<template name="termsAndConditions">
  <div class="box">
    <h3 class="blue-text center">Terms And Conditions</h3>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col s12 m12 l12">
      <h6 class="extraPadding">Last Revised: December 29, 2015.</h6><br>
      <h6 class="extraPadding"><b>Please read these Terms and Conditions carefully, as these will apply to your use of our site.</b></h6><br>
      <h6 class="extraPadding"><b>1.) OVERVIEW</b></h6>
      <h6 class="extraPadding">
        These Terms of Service (the "Agreement") are an agreement between GoFitMe.com ("FitMe" or "us" or "our") and you ("User" or "you" or "your"). 
        This Agreement sets forth the general terms and conditions of your use of the product made available by FitMe and of the GoFitMe.com website (collectively, the "Services").  
        By signing up with GoFitMe.com, you agree to comply to the following terms and conditions.  If you do not agree to these terms and conditions, you are not authorized to use or access the Services.
      </h6>
      <h6 class="extraPadding"><b>2.) CHANGES TO THESE TERMS</b></h6>
      <h6 class="extraPadding">
        We may revise these terms of use at any time by amending this page.
        Please check this page from time to time to take notice of any changes we made, as they are binding on you.
      </h6>
      <h6 class="extraPadding"><b>3.) CHANGES TO OUR SITE</b></h6>
      <h6 class="extraPadding">
        We may update our site from time to time, and may change the content at any time. However, please note that any of the content on our site may be out of date at 
        any given time, and we are under no obligation to update it.  We do not guarantee that our site, or any content on it, will be free from errors or omissions.
      </h6>
      <h6 class="extraPadding"><b>4.) ACCESSING OUR SITE</b></h6>
      <h6 class="extraPadding">
        We do not guarantee that our site, or any content on it, will always be available or be uninterrupted. Access to our site is permitted on a temporary basis.  
        We may suspend, withdraw, discontinue or change all or any part of our site without notice.  We will not be liable to you if for any reason our site is unavailable at any time or for any period.
        You are responsible for making all arrangements necessary for you to have access to our site.
        You are also responsible for ensuring that all persons who access our site through your internet connection are aware of these terms of use and other applicable terms
        and conditions, and that they comply with them.
        Our site is directed to people residing in the United States. We do not represent that content available on or through our site is appropriate or available in other 
        locations. We may limit the availability of our site or any service or product described on our site to any person or geographic area at any time. If you choose to
        access our site from outside the United States, you do so at your own risk.
      </h6>
      <h6 class="extraPadding"><b>5.) LIMITATION OF LIABILITY</b></h6>
      <h6 class="extraPadding">
        Our liability is limited and excluded to the maximum extent permitted under applicable law. We will not be liable for any direct, indirect or consequential loss or 
        damage arising under these terms and conditions or in connection with our website, whether arising in tort, contract, or otherwise – including, without limitation, 
        <li class="extraPadding">any loss of profit, </li> 
        <li class="extraPadding">contracts, </li>
        <li class="extraPadding">business, </li>
        <li class="extraPadding">goodwill, </li>
        <li class="extraPadding">data, </li>
        <li class="extraPadding">income, </li>
        <li class="extraPadding">revenue </li>
        <li class="extraPadding">or anticipated savings. </li>
        However, nothing in these terms and conditions shall exclude or limit our liability for fraud, for death or personal injury caused by our negligence, or for any 
        other liability which cannot be excluded or limited under applicable law.
      </h6>
      <h6 class="extraPadding"><b>6.) PRIVACY POLICY</b></h6>
      <h6 class="extraPadding">
        At FitMe (Divelop, LLC), we respect and protect the privacy of our customers and those who use our websites. 
        FitMe (Divelop, LLC), is the sole owner of information collected on this site.  GoFitMe.com (Divelop, LLC) will not rent, sell, access or in anyway use my customer database information.  This information will be kept strictly confidential in 
        the highest manner possible.  
      </h6>
        <!--This Terms of Service Agreement provides the terms and conditions governing the use of FitClients.com. You agree to use FitClients.com (TM) in a manner consistent with all applicable laws and regulations and in accordance with the terms and conditions discussed below.
        This agreement is between FitClients.com (Tech Sweat, LLC) and all subscribers. Unless the context requires otherwise, FitClients.com (Tech Sweat, LLC) and/or their assigns shall be referred to as "us, we, or our" and you shall be referred to as "you, your or subscriber."
        I understand that FitClients.com (Tech Sweat, LLC), and/or their assigns does not guarantee or predict any type of profit or response from said services. Subscriber irrevocably covenants, promises and agrees to indemnify FitClients.com (Tech Sweat, LLC). and/or their assigns and to hold FitClients.com (Tech Sweat, LLC). and/or their assigns harmless from and against any and all losses, claims, expenses, suits, damages, costs, demands or liabilities, joint or several, of whatever kind or nature which FitClients.com (Tech Sweat, LLC). and/or their assigns may sustain or to which FitClients.com (Tech Sweat, LLC). and/or their assigns may become subject arising out of or relating in any way to the use of the services provided under this agreement, including, without limitation, in each case attorneys' fees, costs and expenses actually incurred in defending against or enforcing any such losses, claims, expenses, suits, damages or liabilities.
        PRIVACY STATEMENT: -->
        
      <h6 class="extraPadding"><b>10.) CONTACT INFORMATION</b></h6>
      <h6 class="extraPadding">
        To contact us, please email support@gofitme.com.<br><br>
        Thank you for visiting our site.
      </h6>
      <br>
      <br>
      <div class="row center">
        <img class="responsive-img termsLogo" src="/trainerGuide/fitMeGuideHeader.png">
      </div>
    </div>
  </div>
</template>