<template name="termsAndConditions">
  <div class="box">
    <h3 class="blue-text center">Terms And Conditions</h3>
  </div>
  <br>
  <br>
  <div class="row">
    <div class="col s12 m12 l12">
      <h6 class="faqAnswer"><b>Terms of Use and Service</b></h6>
      <h6 class="faqAnswer">
        By signing up with GoFitMe.com, you agree to the following Terms And Conditions.<br><br>
        This Terms of Service Agreement provides the terms and conditions governing the use of FitClients.com. You agree to use FitClients.com (TM) in a manner consistent with all applicable laws and regulations and in accordance with the terms and conditions discussed below.
        This agreement is between FitClients.com (Tech Sweat, LLC) and all subscribers. Unless the context requires otherwise, FitClients.com (Tech Sweat, LLC) and/or their assigns shall be referred to as "us, we, or our" and you shall be referred to as "you, your or subscriber."
        I understand that FitClients.com (Tech Sweat, LLC), and/or their assigns does not guarantee or predict any type of profit or response from said services. Subscriber irrevocably covenants, promises and agrees to indemnify FitClients.com (Tech Sweat, LLC). and/or their assigns and to hold FitClients.com (Tech Sweat, LLC). and/or their assigns harmless from and against any and all losses, claims, expenses, suits, damages, costs, demands or liabilities, joint or several, of whatever kind or nature which FitClients.com (Tech Sweat, LLC). and/or their assigns may sustain or to which FitClients.com (Tech Sweat, LLC). and/or their assigns may become subject arising out of or relating in any way to the use of the services provided under this agreement, including, without limitation, in each case attorneys' fees, costs and expenses actually incurred in defending against or enforcing any such losses, claims, expenses, suits, damages or liabilities.
        PRIVACY STATEMENT: FitClients.com (Tech Sweat, LLC) will not rent, sell, access or in anyway use my customer database information. This information will be kept strictly confidential in the highest manner possible.
        Due to the nature of the technologies and Internet stability, FitClients.com (Tech Sweat, LLC) and/or their assigns provides, service interruptions may occur. No full, partial, or prorate refunds will be made as adjustment for any such service interruption. Subscriber hereby acknowledges that changes in the nature of the services which may be offered under this agreement which are beyond the control of FitClients.com (Tech Sweat, LLC) and/or their assigns do not constitute grounds for any full or partial refund of any advance fees paid.
      </h6>
    </div>
  </div>
</template>